{% extends "templates/partials/base.html" %}
{% block content %}

  {% set data = cms.centres %}

  {% set data = data|sort('name') %}

  <div class="full-width-page centres" id="main-wrapper">
      <h1 class="title">Registered Centres</h1>
      <div class="container">
          <div class="row">
              <div class="12u">
                  <div class="new-centre">
                      <p>Want to be a part and run your own centre? <a href="/register/centre" class="button">Register interest now</a></p>
                  </div>
                  <ul class="row">
                      {% for object in data %}
                      <li class="{{object.listing_background}} 4u">
                          <a href="{{ url(object) }}">
                              <img class="centre-image" src="{{object.image.url}}">
                              <span class="meta">
                                  <h3>{{ object.address.city }}</h3>
                                  <h2>{{ object.name }}</h2>
                                  <p>— {{object.cl_name}}</p>
                              </span>
                          </a>
                      </li>
                      {% endfor %}
                  </ul>
              </div>
          </div>
      </div>
  </div>

{% endblock %}
