<div id="footer-wrapper">
    <div id="pre-footer">
        <span>Register now!</span> <a class="button participant" href="/register">Participant</a> <a class="button mentor" href="/register">Mentor</a> <a class="button centre-lead" href="/register">Centre Lead</a> <a class="button volunteer" href="/register">Volunteer</a>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">

                <a href="http://yrs.io" class="logo">
                    <img src="/static/images/yrs-logo-white.png">
                </a>
                <div class="links">
                    <a href="http://yrs.io">Content Copyright Young Rewired State</a>
                </div>
            </div>
        </footer>
    </div>
</div>
