<div id="footer-wrapper">
    <div id="pre-footer">
        Register now! <a class="button participant" href="/register">Participant</a> <a class="button mentor" href="/register">Mentor</a> <a class="button centre-lead" href="/register">Centre Lead</a> <a class="button volunteer" href="/register">Volunteer</a>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="4u">

                <!-- Links -->
                    <section class="widget links">
                        <a href="http://yrs.io" class="logo">
                            <img src="/static/images/yrs-logo-white.png">
                        </a>
                    </section>

                </div>
                <div class="4u">

                    <!-- Links -->
                    <section class="widget links">
                        <h3>{{cms.footer.section_1_title}}</h3>
                        <p>
                            {{cms.footer.section_1_copy}}
                        </p>
                        <a class="cta button" href="{{cms.footer.section_1_cta_link}}">{{cms.footer.section_1_cta_text}}</a>
                    </section>

                </div>
                <div class="4u">

                    <!-- Links -->
                    <section class="widget links">
                        <h3>{{cms.footer.section_2_title}}</h3>
                        <p>
                            {{cms.footer.section_2_copy}}
                        </p>
                        <a class="cta button" href="{{cms.footer.section_2_cta_link}}">{{cms.footer.section_2_cta_text}}</a>
                    </section>

                </div>
            </div>
        </footer>
    </div>
</div>
