<div id="footer-wrapper">
    <div id="pre-footer">
        <span>Register now!</span> <a class="button participant" href="/register/participant">Participant</a> <a class="button mentor" href="/register/mentor">Mentor</a> <a class="button centre-lead" href="/register/centre">Centre Lead</a> <a class="button volunteer" href="/register/volunteer">Volunteer</a>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">

                <a href="http://yrs.io" class="logo">
                    <img src="/static/images/yrs-logo-white.png">
                </a>
                <div class="links">
                    <a href="http://yrs.io">&copy; Young Rewired State</a>
                </div>
            </div>
        </footer>
    </div>
</div>
