<div id="header-wrapper">
	<header id="header" class="wrapper">

		<div class="header-line"></div>

		<div class="nav">
			<nav id="nav" class="container">
				<ul class="3u">
					<h1>General</h1>
					<li><a href="http://yrs.io">YRS <i class="fa fa-external-link"></i></a></li>
					<li><a href="/what-is-foc">What is the Festival?</a></li>
					<li><a href="/updates">Read Latest Updates</a></li>
					<li><a href="/international">International Participants</a></li>
					<li><a href="/supporters">Supporters & Sponsors</a></li>
					<li><a href="/faq">Frequently Asked Questions</a></li>
					<li><a href="/press">Press & Media</a></li>
					<li><a href="/contact">Contact us</a></li>
				</ul>
				<ul class="3u">
					<h1>The Week</h1>
					<li><a href="/prepare">Prepare for the Week</a></li>
					<li><a href="/centres">Registered Centres</a></li>
					<li><a href="/centre-leads">Running a Centre</a></li>
					<li><a href="/challenges/week">Prize Categories</a></li>
				</ul>
				<ul class="3u">
					<h1>Weekend</h1>
					<li><a href="/venue">Weekend Venue</a></li>
					<li><a href="/schedule">Weekend Schedule</a></li>
					<li><a href="/sleeping">Sleeping Arrangements</a></li>
					<li><a href="/challenges/heats">Competition Heats</a></li>
					<li><a href="/challenges/weekend">Weekend Challenges</a></li>
					<li><a href="/makerspace">YRS Makerspace</a></li>
				</ul>
				<ul class="3u register">
					<h1>Register</h1>
					<li><a href="/register/participant">Participant Registration</a></li>
					<li><a href="/register/international">International Registration</a></li>
					<li><h2>Over 18?</h2></li>
					<li><a href="/register/mentor">Mentor Registration</a></li>
					<li><a href="/register/centre">Centre Registration</a></li>
					<li><a href="/register/volunteer">Volunteer Registration</a></li>
				</ul>
			</nav>
		</div>

		<div class="visible">
			<div class="menu">
				<i class="fa fa-bars"></i>
			</div>

			<!-- Logo -->
			<div id="logo">
				<a href="/">
					<img src="/static/images/logo--festival.png">
				</a>
			</div>

			<div class="contact">
				<a href="/register">
					<i class="fa fa-user-plus"></i>
				</a>
			</div>
		</div>

	</header>
</div>
