{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - Challenges{% endblock %}

{% block content %}

  <div class="full-width-page challenges-overview" id="main-wrapper">
  <h1 class="title">Challenges</h1>
    <div class="wrapper">
      <div class="inner">
        <ul>
          <li>
            <a class="m" href="/challenges/week">Challenges during the week</a>
          </li>
          <li>
            <a class="c" href="/challenges/heats">Week challenge heats</a>
          </li>
          <li>
            <a class="v" href="/challenges/weekend">12 & 24 hour weekend challenges</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
