{% extends "templates/partials/base.html" %}
{% block content %}
<div class="full-width-page bulleted" id="main-wrapper">
    <h1 class="title">{{cms.parents.name}}</h1>
    <div class="wrapper">     
        <div class="copy">
        	<div class="inner">
        		<img class="header" src="/static/images/running-centre.jpg">
        		{{cms.parents.copy|safe}}
        		<a href="{{cms.parents.cta_link}}" class="cta button">{{cms.parents.cta_text}}</a>
        	</div>
        </div>
    </div>
</div>
{% endblock %}
