{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Contact{% endblock %}
{% block content %}
<div class="full-width-page contact" id="main-wrapper">
<h1 class="title">Contact us</h1>
    <div class="wrapper">
        <div class="copy">
        	<div class="inner">
        		<div class="left">
        			<p>
        				<a href="mailto:festival@yrs.io"><i class="fa fa-envelope"></i>Email us</a>
        				<br>
        				<a href="http://facebook.com/youngrewired"><i class="fa fa-facebook-square"></i>Facebook</a>
        				<br>
        				<a href="http://twitter.com/youngrewired"><i class="fa fa-twitter-square"></i>Twitter</a>
        				<br>
        				<a href="http://instagram.com/youngrewired"><i class="fa fa-instagram"></i>Instagram</a>
        				<br>
        				<a href="http://youtube.com/youngrewired"><i class="fa fa-youtube"></i>YouTube</a>
        			</p>
        		</div>
        		<div class="right">
        			<div id="mc_embed_signup">
						<form action="//youngrewiredstate.us5.list-manage.com/subscribe/post?u=851bb016a46894ca3e7930a40&amp;id=4cb480205a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div id="mc_embed_signup_scroll">
								<label for="mce-EMAIL">Subscribe to our fornightly newsletter</label>
								<div class="mc-field-group">
									<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
								</div>
								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>   
								<div style="position: absolute; left: -5000px;"><input type="text" name="b_851bb016a46894ca3e7930a40_4cb480205a" tabindex="-1" value=""></div>
								<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
							</div>
						</form>
					</div>
					<div class="comp">
						<p>
							Young Rewired State Ltd is a company limited by guarantee. Our company number is 9339287, registered in England and Wales.
						</p>
					</div>
        		</div>
        	</div>
        </div>
    </div>
</div>
{% endblock %}
