{% extends "templates/partials/base.html" %}
{% block content %}
<div class="full-width-page press" id="main-wrapper">
<h1 class="title">{{cms.pressmedia.name}}</h1>
    <div class="wrapper">
        <div class="copy">
        	<div class="inner">
        		{{cms.pressmedia.copy|safe}}
        		<div class="press-releases">
        			<h2>Press Releases</h2>
        			{{cms.pressmedia.press_releases|safe}}
        		</div>
        		<a href="{{cms.pressmedia.cta_link}}" class="cta button">{{cms.pressmedia.cta_text}}</a>
        	</div>
        </div>
    </div>
</div>
{% endblock %}
