{% extends "templates/partials/base.html" %}
{% block content %}
<div class="full-width-page supporters" id="main-wrapper">
<h1 class="title">{{cms.supporterssponsors.name}}</h1>
    <div class="wrapper">
        <div class="copy">
        	<div class="inner">
        		<div class="sponsors-2015">
        			<h2>2015 Sponsors</h2>
	        		<ul>
						{% for image in cms.supporterssponsors.sponsors_2015 %}
						  <li>
						    <img src="{{ image|imageSize(720) }}" />
						  </li>
						{% endfor %}
					</ul>
        		</div>
        		<div class="body">
        			{{cms.supporterssponsors.copy|safe}}
        			<div class="past-sponsors">
        				<h2>Past Sponsors</h2>
        				<img src="/static/images/past.png">
        			</div>
        		</div>
        	</div>
        </div>
    </div>
</div>
{% endblock %}
