{% extends "templates/partials/base.html" %}
{% block content %}
<div class="full-width-page bulleted" id="main-wrapper">
    <h1 class="title">Thank You! </h1>
    <div class="wrapper">     
        <div class="copy">
          <div class="inner">
            <p>
                Thank you so much for your contribution, it's massivey appreciated. You're awesome!
            </p>
            <p>Love,</p>
            <p>Team YRS</p>
          </div>
        </div>
    </div>
</div>
{% endblock %}
