{% extends "templates/partials/base.html" %}
{% block content %}
<div class="full-width-page venue" id="main-wrapper">
<h1 class="title">{{cms.venue.name}}</h1>
    <div class="container">
        <div class="copy">
        	<div class="inner">
        		<img class="header" src="/static/images/venue.jpg">
        		{{cms.venue.copy|safe}}
        		<div class="meta">
        			<p><b>Closest train station</b><br>Birmingham New Street (11m walk)</p>
        			<p><b>Closest airport</b><br>Birmingham International (35m train and walk)</p>
        			<p><b>Closest motorways</b><br>M1, M5, M6, M6 Toll, M40 and M42.</p>
        		</div>
        		<a class="embedly-card" data-card-chrome="0" href="https://www.google.co.uk/maps/place/The+ICC/@52.478779,-1.910645,17z/data=!3m1!4b1!4m2!3m1!1s0x4870bc8c8cd2ec93:0xea3880348237a86f">Google Maps</a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        	</div>
        </div>
    </div>
</div>
{% endblock %}
