{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - Register{% endblock %}

{% block content %}

  <div class="full-width-page register-overview" id="main-wrapper">
  <h1 class="title">Register now!</h1>
    <div class="wrapper">
      <div class="inner">
        <ul>
          <h2>18 or under?</h2>
          <li>
            <a href="/register/participant">Register as a participant</a>
          </li>
          <h2>Over 18?</h2>
          <li>
            <a class="m" href="/register/mentor">Register as a mentor</a>
          </li>
          <li>
            <a class="c" href="/register/centre">Register centre interest</a>
          </li>
          <li>
            <a class="v" href="/register/volunteer">Register as a volunteer</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
