{% extends "templates/partials/base.html" %}
{% block content %}
<div class="full-width-page bulleted" id="main-wrapper">
    <h1 class="title">{{cms.access.name}}</h1>
    <div class="wrapper">     
        <div class="copy">
          <div class="inner">
            <img class="header" src="/static/images/rise.jpg">
            {{cms.access.copy|safe}}
            <a href="{{cms.access.cta_link}}" class="cta button">{{cms.access.cta_text}}</a>
          </div>
        </div>
    </div>
</div>
{% endblock %}
