{% extends "templates/partials/base.html" %}

{% set week = get('theweek') %}

{% block content %}

<div class="page-week container" id="main-wrapper">
    <div class="row">
        <div class="7u">
            <h1 class="title">Example Page</h1>

            <div class="introduction">
                This page has a role selector. Clicking them will take the users down the page to their relevant section. <br>Because of how spilt up this site is, there isn't an obvious place for it. But, if you'd like it on any particular page, let me know.
            </div>

            <div class="section role-selector row">
                <h1>Skip to section for...</h1>
                <a href="#participants" class="participants 4u">
                    <img src="/static/images/ruby--participant.png">
                    <p>Participants</p>
                </a>
                <a href="#mentors" class="mentors 4u">
                    <img src="/static/images/ruby--mentor.png">
                    <p>Mentors</p>
                </a>
                <a href="#centre-leads" class="centre-leads 4u">
                    <img src="/static/images/ruby--centre-lead.png">
                    <p>Centre Leads</p>
                </a>
            </div>

            <div id="participants">
                <h2 class="subtitle">Participants</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, officia reiciendis in minima molestias esse. Laboriosam voluptas facere praesentium ratione ex. Laudantium asperiores molestias a eius eligendi sapiente, atque at!
            </div>

            <div id="mentors">
                <h2 class="subtitle">Mentors</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing <a href="#">Test link</a>. A dolore rerum ullam, deleniti ex, architecto, nesciunt tenetur eius harum natus libero deserunt. Quibusdam blanditiis obcaecati nulla culpa maxime nemo at!
            </div>

            <div id="centre-leads">
                <h2 class="subtitle">Centre Leads</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ab reiciendis id deserunt. Vitae molestiae ducimus itaque blanditiis dolor deleniti, repellat libero quod doloribus natus perferendis sed mollitia ipsum exercitationem!
            </div>
        </div>
        <div class="5u">
            <h2 class="subtitle">Registered Centres</h2>
            <a href="#" class="sign-up">Interested in running your own?</a>
            <p>
                This can, if desired, pull in content from other pages. This sidebar is also an option for other pages.
            </p>
        </div>
    </div>

</div>

{% endblock %}
