{% extends "templates/partials/base.html" %}
{% block content %}
<div class="full-width-page international" id="main-wrapper">
    <h1 class="title">{{cms.europe.name}}</h1>
    <div class="wrapper">
        <div class="copy">
          <div class="inner">
            {{cms.europe.copy|safe}}
            <a href="{{cms.europe.pack_link}}" class="cta button">Download the info pack</a>
            <a href="{{cms.europe.button_url}}" class="cta button">{{cms.europe.button_text}}</a>
          </div>
        </div>
    </div>
</div>
{% endblock %}
