{% extends "templates/partials/base.html" %}

{% block body_class %}homepage{% endblock %}

{% block content %}

  <div class="homepage">

    <div class="services festival-journey">
      <div class="start white">
          <div class="wrapper">
              <h2>July 27<sup>th</sup> - August 2<sup>nd</sup> 2015</h2>
              <h3>The world's largest annual hack event</h3>
              <h1>Your Festival Journey</h1>
          </div>
      </div>
      <div class="section right top-only">
          <div class="wrapper">
              <div class="copy">
                  <h2>Spend the week meeting friends and building cool projects at your local centre.</h2>
                  <p>
                    Team up and invent a unique idea to create a website, app, game, algorithm or hardware hack using open data. 
                  </p>
              </div>
              <img src="/static/images/festival--journey/ruby-week.png">
          </div>
      </div>
      <div class="section">
          <div class="wrapper">
              <img src="/static/images/festival--journey/ruby-global.jpg">
              <div class="copy">
                  <h2>Take your place in our amazing global community of awesome digital makers.</h2>
                  <p>
                    Join thousands of digital makers across the world who love sharing knowledge and developing skills together. 
                  </p>
              </div>
          </div>
      </div>
      <div class="section background weekend">
          <div class="wrapper">
              <div class="copy full-text">
                  <h2>Show off your project and get feedback on how to take it further at the Festival weekend.</h2>
                  <p>
                      Take centre stage in Birmingham to present your project to expert judges, mentors, press and fellow YRSers. 
                  </p>
              </div>
          </div>
      </div>
      <div class="section right top-only">
          <div class="wrapper">
              <div class="copy">
                  <h2>Continue building at the weekend with our brand new challenges and YRS Makerspace.</h2>
                  <p>
                    New for 2015, we’re inviting the best and brightest in the digital and creative industries to come and play in our fully interactive Makerspace. 
                  </p>
              </div>
              <img src="/static/images/festival--journey/ruby-maker.png">
          </div>
      </div>
      <div class="section background register">
          <div class="wrapper">
              <div class="copy full-text">
                  <h2>July 27<sup>th</sup> - August 2<sup>nd</sup> 2015</h2>
                  <p>
                      Don't miss out, register now!
                  </p>
                  <a href="/register" class="cta button">Register now</a>
              </div>
          </div>
      </div>
  </div>

{% endblock %}
