{% extends "templates/partials/base.html" %}

{% block body_class %}homepage{% endblock %}

{% block content %}

  <div class="homepage">
    <!--<div id="banner-wrapper">
      <div class="banner">
          <ul>
              <li class="landing">
                  <div class="wrapper">
                      <h1>The Festival of Code sees over 1,000 young people in centres across the UK and Europe.</h1>
                  </div>
              </li>
              <li class="landing">
                  <div class="wrapper">
                      <h1>This can be another headline, perhaps on a newly-announced judge!</h1>
                  </div>
              </li>
              <li class="landing">
                  <div class="wrapper">
                      <h1>This can be a link out to the newbie film, so you don't need to be a pro!</h1>
                  </div>
              </li>
              <li class="landing">
                  <div class="wrapper">
                      <h1>A blog post - spotlight on James Brooks - My Festival journey.</h1>
                  </div>
              </li>
          </ul>
      </div>
    </div>-->

    <div class="services festival-journey">
      <div class="start white">
          <div class="wrapper">
              <h2>July 27<sup>th</sup> - August 2<sup>nd</sup> 2015</h2>
              <h1>Your Festival Journey</h1>
              <h2><a href="#week"><i class="fa fa-angle-down"></i></a></h2>
          </div>
      </div>
      <div class="section background week" id="week">
          <div class="wrapper">
              <div class="copy full-text">
                  <h2>Spend the week meeting and building with awesome people in your local centre.</h2>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum dolores molestias tenetur, vitae, nihil odit qui, provident quod hic consectetur explicabo saepe modi, amet repellat perferendis voluptate quasi? Ab, nisi.
                  </p>
              </div>
          </div>
      </div>
      <div class="section right blue">
          <div class="wrapper">
              <div class="copy">
                  <h2>Become part of our awesome global community.</h2>
                  <p>
                      We lead the skill-matched team through their interrogation and exploration of the provided data, the client’s brief, and the developer’s ideas. They then build their projects in less than two days and allow you to see the ideas as a working prototype.
                  </p>
              </div>
              <img src="/static/images/festival--journey/community.jpg">
          </div>
      </div>
      <div class="section background weekend">
          <div class="wrapper">
              <div class="copy full-text">
                  <h2>Show off the project and get feedback on how to take it further.</h2>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum dolores molestias tenetur, vitae, nihil odit qui, provident quod hic consectetur explicabo saepe modi, amet repellat perferendis voluptate quasi? Ab, nisi.
                  </p>
              </div>
          </div>
      </div>
      <div class="section pink">
          <div class="wrapper">
            <img src="/static/images/festival--journey/maker.jpg">
              <div class="copy">
                  <h2>Continue building at the weekend with our weekend challenges and Makerspace.</h2>
                  <p>
                      We lead the skill-matched team through their interrogation and exploration of the provided data, the client’s brief, and the developer’s ideas. They then build their projects in less than two days and allow you to see the ideas as a working prototype.
                  </p>
              </div>
          </div>
      </div>
      <div class="section background register">
          <div class="wrapper">
              <div class="copy full-text">
                  <h2>July 27<sup>th</sup> - August 2<sup>nd</sup> 2015</h2>
                  <p>
                      Don't miss out, register now!
                  </p>
                  <a href="/register" class="cta button">Register now</a>
              </div>
          </div>
      </div>
  </div>

{% endblock %}
