{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ cms.weekendschedule.name }}{% endblock %}
{% block content %}
  <div class="full-width-page schedule" id="main-wrapper">
    <h1 class="title">{{cms.weekendschedule.name}}</h1>
    <div class="wrapper">
        <div class="copy">
          <div class="inner">
            <div class="day friday">
            	<h2>Friday</h2>
            	<div class="table">
            		{{cms.weekendschedule.friday|safe}}
            	</div>
            </div>
            <div class="day saturday">
            	<h2>Saturday</h2>
            	<div class="table">
            		{{cms.weekendschedule.saturday|safe}}
            	</div>
            </div>
            <div class="day sunday">
            	<h2>Sunday</h2>
            	<div class="table">
            		{{cms.weekendschedule.sunday|safe}}
            	</div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
