.contact {
	.left {
		@include span-columns(6);
		p {
			font-size: 1.5em;
		}
		p a i:before {
			margin-right: .5em;
		}		
	}
	.right {
		@include span-columns(6);
		label {
			margin-bottom: .5em;
			text-transform: uppercase;
		}
		input[type="email"] {
			line-height: 3em !important;
		}
		input[type="submit"] {
			font-size: 1em;
		}
		.comp {
			margin-top: 2em;
		}
	}
	@media screen and (max-width:800px) {
		.left,
		.right {
			@include span-columns(12);
		}
	}
}