.press {
	h2 {
		@include span-columns(12);
		margin-bottom: 19px;
		margin-top: 1em;
		text-transform: uppercase;
		font-weight: 800;
		text-align: center;
		background: $pink;
		color: white;
		border-radius: 6px;
		padding: .25em;
	}
	a.cta {
		margin-bottom: 5em;
	}
}